@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@800&family=Merriweather:wght@300;700;900&family=Poppins:wght@200;300;400;500;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
p{
    /* height:33px ; */
    width: 300px;
    font-size: 12px;
}
/* h2{
    width: 200px;
    margin-top: 0px;
    height:500px;
    margin-bottom: 0.5vh;
    padding: 200px;
} */

.btn-initial{
    background: rgba(250, 189, 200, 0.616);
}
.next{
    width: 200px;
    padding-top: 25px;
    
}
.Hot{
    height: 25px;
    width: 60px;
    background: red;
    color: white;
    position: relative;
    bottom: 20px;
   left: 140px ;
   text-align: center;
}
.offer{
    position: absolute;
    bottom: 570px;
    left: 730px ;
    
}